@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Manrope', sans-serif;
}

.custom-bg {
  background-color: #f9f9ff;
}

.custom-area {
  @apply w-10/12 mx-auto
}

.f-dark {
  color: #757575;
  font-weight: 600;
}

.f-blue {
  background: -webkit-linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-bg {
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
  border-radius: 8px;
  width: 190px;
  height: 65px;
  color: white;
}

.btn-bg-color {
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
}

.f-blue {
  color: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
}

.btn-details {
  width: 155px;
  height: 48px;
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
  border-radius: 4px;
  color: white;
}

.active {
  @apply text-blue-700
}

.default {
  @apply text-gray-700
}